# OpenAI API API KEY
OPENAI_API_KEY=

# Google Cloud API KEY
GOOGLE_APPLICATION_CREDENTIALS=./assets/SCOUT/GCC.json

# SerpAPI API KEY
SERPAPI_KEY=

# NCBI API API KEY
NCBI_API_KEY=

# OpenWeatherMap API KEY
OPENWEATHERMAP_API_KEY=

# NewsAPI.org API KEY
NEWSAPI_API_KEY=

# PaLM API API KEY
GOOGLE_API_KEY=

# Hugging_Face API KEY
HF_API_TOKEN=

# Mistral API KEY
Mistral_API_KEY=

# Anthropic API KEY
Anthropic_API_KEY=

# Eleven Labs API KEY
XI_API_KEY=

# Feedly API KEY
FEEDLY_ACCESS_TOKEN=

# GitHub Credentials
GITHUB_ACCESS_TOKEN=
GITHUB_USERNAME=
GITHUB_ORG=

# Git credentials
GIT_USERNAME=
GIT_PASSWORD=
GIT_SSH_KEY_=

# Twilio credentials
auth_token=
account_sid=
voice_twiml_bin_sid=
verify_service_sid=
phone_number=