
python-dotenv 
requests
cachetools
pillow
aiohttp
google-cloud-texttospeech 
google-cloud-speech  
google.generativeai
Anthropic
langdetect 
keyring 
sounddevice 
soundfile 
pygame 
tkfontchooser 
textblob
pytz 
customtkinter
func_timeout
pyspellchecker
numpy
feedparser
bs4
selenium